

:root {
    --main-color: #B17457;
    --main-color-alt: #F2994A;
    --background-color: #F9F9F9;
    --text-color: #333333;
    --header-background-color: #333;
    --header-text-color: #ffffff;
    --card-background-color: white;
    --card-shadow-color: rgba(0, 0, 0, 0.1);
    --filter-background-color: #040404a1;
    --filter-text-color: white;
    --price-filter-bg: #fd9553;
    --btn-secondary-color: #4A4947;
    --btn-primary-color:  #B17457;
    --main-transition: 0.3s;
    --padding-top: 25px;
    --padding-bottom: 100px;
    --main-color-alt: #FF9F0A;

}


/* Apply variables */
body {
    font-family: 'Cairo', sans-serif;
    background-color: #FAF7F0; /* Very light cream */
    color: #4A4947;
    transition: var(--main-transition);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Mobile */
@media (max-width: 480px) {
    .container {
        width: 300px;
    }
}
  /* Extra Small Devices */
@media (min-width: 481px) {
    .container {
        width: 430px;
    }
}
  /* Small Tablets */
@media (min-width: 768px) {
    .container {
        width: 570px;
    }
    
}
/* Large */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* Desktops */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
  /* Extra Large */
@media (min-width: 1920px) {
    .container {
        width: 1470px;
    }
}

/* for filter bar */
@media (max-width: 992px) {
    .filter {
        display: flex;
        flex-direction: column;

    }
    .filter div{
        margin: 10px;
        width: auto;


    }
    
}


.section-intro{
    text-align: center;
    display: flex;
    justify-content: center;

}

.section-intro h2{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid black;
    padding: 10px 15px;
    text-align: center;
    width: fit-content;
    transition: var(--main-transition);
}
.section-intro h2::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    padding: 6px;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.section-intro h2::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    padding: 6px;
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}


.section-intro h2:hover::before{
    
    animation: right-move 0.5s linear forwards;

}
.section-intro h2:hover::after{
    
    animation: left-move 0.5s linear forwards;
}

@keyframes left-move {
    50%{
        right: 0;
        left: 50%;
        border-radius: 0;
        z-index: -1;
        height: calc(100% - 10px);
    }
    100%{
        right: 0;
        left: 50%;
        border-radius: 0;
        z-index: -1;
        height: calc(100% - 10px);
    }
    
}
@keyframes right-move {
    50%{
        left: 0;
        right: 50%;
        height: 100%;
        border-radius: 0;
        z-index: -1;
        height: calc(100% - 10px);
    }
    100%{
        left: 0;
        right: 50%;
        height: 100%;
        border-radius: 0;
        z-index: -1;
        height: calc(100% - 10px);
    }
    
}

.section-intro h2:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.3s;
}


.top-dots{
    position: absolute;
    top: 160px;
    right: 0;
    z-index: -2;
}

.bottom-dots{
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: -2;
}

/* Navbar Styles */
header {
    background-color: #4A4947; 
    color: #FAF7F0;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo h2 {
    margin-left: 10px;
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    color: var(--main-color-alt);
    letter-spacing: -1px;
}

header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav.main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav.main-nav ul li {
    margin-left: 25px;
}

nav.main-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

nav.main-nav ul li a:hover {
    color: var(--main-color);
}

.auth{
    display: flex;
}
.auth i{
    margin: 5px;
}
.auth a{
    color: white;
    font-size: 15px;
    font-family: emoji;
}

.hov:hover{
    color: var(--main-color);
    text-decoration: none;
}
/* Responsive Menu for Mobile */
@media (max-width: 768px) {
    nav.main-nav ul {
        flex-direction: column;
        background-color: #444;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
    }

    nav.main-nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    nav.main-nav ul.show {
        display: flex;
    }
}

/* Flash Message */
.alert {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.alert.alert-danger {
    background-color: #e74c3c;
    color: white;
}

.alert.alert-success {
    background-color: #2ecc71;
    color: white;
}

.alert .close {
    color: white;
}


/* start articles */

.articles{
    
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.articles .content{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.articles .content article{
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    transition: var(--main-transition);
}

.articles .content article:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .content article:hover i{
    animation: move-arrow 0.5s linear infinite;
}
    
.articles .content article h4{
    padding: 20px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.articles .content article p{
    color: #777;
    padding: 15px;
    padding-top: 0;
    line-height: 1.5;
    margin: 10px 0 0;
}

.articles .availability-time{
    padding: 20px; 
    display: flex;
    color: var(--main-color);
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e6e6e7;
}

.articles .availability-time a{
    text-decoration: none;
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: bold;
    font-size: small;
}
.articles .content article img{
    width: 100%;
    border-start-end-radius: 6px;
    border-start-start-radius: 6px;

}

/* end articles */

/* start filter */
.filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D8D2C2; /* Soft beige */
    color: #4A4947;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: -30px;
    margin-top: 40px;
}

.filter div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter label {
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.filter select, 
.filter input[type="range"] {
    border-radius: 6px;
    border: 1px solid var(--btn-secondary-color);
    background-color: var(--btn-secondary-color);
    font-size: 15px;
    color: white;
}
.filter label{
    margin-bottom: 0px;
}

.filter input[type="range"] {
    width: 130px;
}

.filter input[type='range']::-webkit-slider-thumb {
    width: 6px;
    -webkit-appearance: none;
    height: 12px;
    background: black;
    border-radius: 2px;
  }

.filter span {
    font-weight: bold;
    color: var(--btn-secondary-color);
    font-size: 1rem;
}

.filter div select {
    width: 130px;
}

.filter #date{
    width: 135px;
    border: 1px solid var(--btn-secondary-color);
    border-radius: 10px;
    padding: 0px 4px;
    color: white;
    background-color: var(--btn-secondary-color);
}
@media (max-width: 768px) {
    .filter {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter div {
        width: auto;
        margin: 10px;
    }
}

/* end filter */

/* start slotDetails */

.slot-details{
    display: flex;
    justify-content: space-around;
}

.slot-info{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

.slot-cards{
    display: flex;
    flex-basis: 50%;

}

.available-times{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.card{
    border-radius: 25px;
    background-color: #FAF7F0;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    transition: var(--main-transition);
    padding: 25px;
    margin-bottom: 16px;
    color: #4A4947;
}

.book{
    display: flex;
    height: 89vh;
    align-items: center;
    justify-content: center;
}
.confirm-card{
    width: 600px;
}
.edit-card{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 89vh;
}
.edit-card .card{
    width: 600px;
}
.edit-card .time-range-selection{
    margin-top: 0px;

}
.edit-time{
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
.edit-time label{
    margin-right: 5px;

}
.edit-btns{
    display: flex;
    justify-content: space-between;
}


.edit-card h3{
    text-align: center;
    margin-bottom: 20px;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.card-header{
    text-align: center;
    color: #ef6f20;
    font-size: large;
    font-weight: 600;
}

.card-body{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.profile-card{
    margin: 30px;
    width: auto;
    transition: none;
}
.profile-card:hover{
    transition: none;
    transform: none;
}
.booked-cards{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}
.reserved-slot{
    margin: 30px;
}
.confirm-btn{
    display: block;
    margin: auto;
    padding: 10px 20px;
    background: var(--btn-primary-color);
    color: white;
    border-radius: 5px;
    font-size: 15px;
}
.btns{
    display: flex;
    margin-top: 25px;
}
.cancel-btn{
    display: block;
    background: var(--danger);
    margin: auto;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;

}

.edit-btn{
    display: block;
    background: var(--success);
    margin: auto;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;

}

.time-range-selection{
    margin-top: 20px;
}
.book-now{
    background-color: #B17457;
    display: block;
    margin: auto;
    width: fit-content;
    color: #FAF7F0;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.start-time, .end-time{
    border-radius: 10px;
    background-color: #d8d2c2;    
    border: 1px solid #c9bebe;
}
.end-label{
    margin-left: 10px;
}
.book-now :hover{
    background-color: #4A4947;
}

a {
    color: #B17457; 
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.card a:hover {
    color: #4A4947;
    background-color: #D8D2C2; 
    text-decoration: none;
}

.edit-btns a:hover{
    color: #4A4947;
    text-decoration: none;
    background-color: #FAF7F0;
}
.edit-btns button{
    padding: 5px 20px;
    border-radius: 4px;
    border: none;
    background-color: var(--btn-primary-color);
    color: white;
}


/* end slotDetails */


/* start sign-up */

#form {
    width: 600px;
    margin: 15vh auto 5px auto;
    padding: 70px;
    background-color: var(--btn-secondary-color);
    color: white;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: var(--btn-primary-color);
    border: none;
    border-radius: 4px;
}

.redirect{
    display: block;
    text-align: center;
    margin-top: 15px;
    color: white;
}
.redirect:hover{
    color: var(--main-color-alt);
    text-decoration: none;
}
.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

/* end sign-up */







