{% extends "base.html" %}
{% block title %}Edit Booking{% endblock %}

{% block content %}

<div class="edit-card">
    <div class="card">
        <h3>Edit Your Booking</h3>

        <p id="location">Slot Location: {{ slot['location'] }}</p>
        <p>Slot Category: {{ slot['category'] }}</p>
        <p>Price per Hour: ${{ slot['price_per_hour'] }} </p>
        <p id="date">Date: {{ slot['date'] }} </p>
        <div class="time-range-selection">
            <div id="error-message" style="display:none; color: red;"></div>
            <form id="bookingForm" method="POST" action="{{ url_for('views.edit') }}">
                <div class="edit-time">
                    <div>
                        <label for="start-time">from:</label>

                        <select class="start-time" name="start-time" required>
                            {% for time in slot['available_times'] %}
                                <option value="{{ time }}" {% if time == start %}selected{% endif %}>{{ time }}</option>
                            {% endfor %}
                        </select>
                    </div>
                     <div>
                        <label for="end-time">to:</label>
                    <select class="end-time" name="end-time" required>
                        {% for time in slot['available_times'] %}
                            <option value="{{ time }}" {% if time == end %}selected{% endif %}>{{ time }}</option>
                        {% endfor %}
                    </select>
                     </div>
                    

                </div>
                
        
                <!-- Hidden fields to pass old booking and other necessary data -->
                <input type="hidden" name="old-start" value="{{ start }}">
                <input type="hidden" name="old-end" value="{{ end }}">
                <input type="hidden" name="location" value="{{ slot['location'] }}">
                <input type="hidden" name="email" value="{{ session['email'] }}">
                <input type="hidden" name="category" value="{{ slot['category'] }}">
                <input type="hidden" name="date" value="{{ slot['date'] }}">
        
                <div class="edit-btns">
                    <a href="{{ url_for('views.profile') }}" class="">Back</a>

                    <button type="submit" class="book-range">Save</button>
                </div>
                

            </form>
        </div>
        
    </div>
</div>

<!-- Time Range Selection -->


<script src="{{ url_for('static', filename='js/edit.js') }}"></script>

{% endblock %}
