{% extends "base.html" %}
{% block title %}Avalable Slots{% endblock %}

{% block content %}


{% if email %}
<script>
    const email = "{{ email }}";
    localStorage.setItem("userEmail", email);
    console.log("Email stored in localStorage:", localStorage.getItem("userEmail"));
</script>

{% endif %}

{% if log_out %}
<script>
    const userEmail = localStorage.getItem("userEmail");
    if(userEmail){
        localStorage.removeItem("userEmail");
    }
</script>
{% endif %}





<!-- HTML: Filter Section -->








<section class="articles">
    <div class="container">
        <div class="section-intro">
            <h2>Available Slots</h2>
        </div>


        <div class="filter">
            <div>
                <label for="category-filter">Category: </label>
                <select name="category-filter" id="category-filter">
                    <option value="all">All Categories</option>
                    <option value="Compact">Compact</option>
                    <option value="Motorcycle">Motorcycle</option>
                    <option value="SUV">SUV</option>
                    <option value="Truck">Truck</option>
                </select>
            </div>
            
            
        
            <!-- start filtering by day -->
        
            <div class="day-filter">
                <label for="date">select day</label>
                <input type="date" id="date" name="date" value="{{ today }}" >
            </div>
            <script>
                let today = new Date().toISOString().split('T')[0];
                console.log(today);
                document.getElementById('date').setAttribute('min', today);
            </script>
          
          <!-- end filtering by day -->

          <div>
            <label for="price-filter">Max Price (per hour):</label>
            <div class="price-filter">
                <input type="range" id="price-filter" min="0" max="20" step="1" value="20">
                <span id="price-value">$20</span>
            </div>
            
        </div>
            
        </div>
        <div id="slots-container" class="content">
            {% for slot in slots %}
            <article class="card">
                <h4 id="location">{{ slot['location'] }}</h4>
                <p id="category">Slot Category : {{ slot['category'] }}</p>
                <p>Price per hour: ${{ slot['price_per_hour'] }}</p>


                <!-- start select range -->
                <div class="time-range-selection">
                    
                    <label  for="start-time">from:</label>
                    <select class="start-time" name="start-time">
                        {% for time in slot['available_times'] %}
                            <option value="{{ time }}">{{ time }}</option>
                        {% endfor %}
                    </select>
                  
                    <label class="end-label" for="end-time">to:</label>
                    <select class="end-time" name="end-time">
                        {% for time in slot['available_times'] %}
                            <option value="{{ time }}">{{ time }}</option>
                        {% endfor %}
                    </select>
                    <div class="error-message" style="display:none; color: red; font-size:14px"></div>
                    
                    <a href="#" class="book-now book-range" onclick="dateTimeFilter()">Book Now</a>
                  
                </div>


                <!-- end select range -->

            </article>
                  
            {% endfor %}
        </div>


    </div>
</section>




<script src="{{ url_for('static', filename='js/slot-filtering.js') }}"></script>


{% endblock %}