{% extends "base.html" %}
{% block title %}Avalable Slots{% endblock %}

{% block content %}






<div class="slot-details">

  <div class="slot-info">
    <h2>Available Times for:</h2>
  
    <div style="background-color: gray;">
        <h3>Slot {{ slot['slot_id'] }} - {{ slot['location'] }}</h3>
        <p>Slot Category : {{ slot['category'] }}</p>
        <p>Price per hour: ${{ slot['price_per_hour'] }}</p>
    </div>
  
  </div>



  <div class="available-times">
    {% for date, times in available_times.items() %}
      <article class="card">
        <div class="card-header">
          {{ date }}
        </div>
        <div class="card-body">
          {% for time in times %}
            <p class="card-text">{{ time }} 
              <a href="/book-slot/{{ slot['slot_id'] }}/{{ date }}/{{ time }}" class="btn btn-primary">Book</a>
            </p>
          {% endfor %}
        </div>
      </article>
    {% endfor %}
  </div>



  
 

</div>








  <script src="../static/js/datetime-filter.js"></script>
{% endblock %}