{% extends "base.html" %}
{% block title %}Avalable Slots{% endblock %}

{% block content %}
<div class="slot-details" id="slot-times" date="{{ date }}" slot_id="{{ slot['slot_id'] }}">

  <div class="slot-info">
    <h2>Available Times for:</h2>
  
    <div style="background-color: gray;">
        <h3>Slot {{ slot['slot_id'] }} - {{ slot['location'] }}</h3>
        <p>Slot Category : {{ slot['category'] }}</p>
        <p>Price per hour: ${{ slot['price_per_hour'] }}</p>
        <div class="card-header">
          {{ date }}
        </div>
    </div>
  
  </div>


<div class="time-range-selection">
  <label for="start-time">Select Start Time:</label>
  <select id="start-time" name="start-time">
      {% for time in available_times %}
          <option value="{{ time }}">{{ time }}</option>
      {% endfor %}
  </select>

  <label for="end-time">Select End Time:</label>
  <select id="end-time" name="end-time">
      {% for time in available_times %}
          <option value="{{ time }}">{{ time }}</option>
      {% endfor %}
  </select>

  <a href="#" class="btn btn-primary" id="book-range">Book Time Range</a>
</div>


<script src="{{ url_for('static', filename='js/datetime-filter.js') }}"></script>
{% endblock %}