{% extends "base.html" %}
{% block title %}Avalable Slots{% endblock %}

{% block content %}


{% if email %}
<script>
    const email = "{{ email }}";
    localStorage.setItem("userEmail", email);
    console.log("Email stored in localStorage:", localStorage.getItem("userEmail"));
</script>

{% else %}
<script>
    const userEmail = localStorage.getItem("userEmail");
    if(userEmail){
        localStorage.removeItem("userEmail");
    }
</script>

{% endif %}





<!-- HTML: Filter Section -->

<div class="filter">
    <div>
        <label for="category-filter">Filter by category: </label>
        <select name="category-filter" id="category-filter">
            <option value="all">All Categories</option>
            <option value="Compact">Compact</option>
            <option value="Motorcycle">Motorcycle</option>
            <option value="SUV">SUV</option>
            <option value="Truck">Truck</option>
        </select>
    </div>
    
    <div>
        <label for="price-filter">Max Price (per hour):</label>
        <div>
            <input type="range" id="price-filter" min="0" max="20" step="1" value="20">
            <span id="price-value">20</span>
        </div>
        
    </div>

    <!-- start filtering by day -->

    <div class="day-filter">
        <label for="date">select day</label>
        <input type="date" id="date" name="date" value="{{ today }}" >
    </div>
  
  <!-- end filtering by day -->
    
</div>





<section class="articles">
    <div class="container">
        <div class="section-intro">
            <h2>Available Slots</h2>
        </div>
        <div id="slots-container" class="content">
            {% for slot in slots %}
            <article class="card">
                <h4 id="location">{{ slot['location'] }}</h4>
                <p id="category">Slot Category : {{ slot['category'] }}</p>
                <p>Price per hour: ${{ slot['price_per_hour'] }}</p>


                <!-- start select range -->
                <div class="time-range-selection">
                    <label for="start-time">Select Start Time:</label>
                    <select class="start-time" name="start-time">
                        {% for time in slot['available_times'] %}
                            <option value="{{ time }}">{{ time }}</option>
                        {% endfor %}
                    </select>
                  
                    <label for="end-time">Select End Time:</label>
                    <select class="end-time" name="end-time">
                        {% for time in slot['available_times'] %}
                            <option value="{{ time }}">{{ time }}</option>
                        {% endfor %}
                    </select>
                  
                    <a href="#" class="btn btn-primary book-range" onclick="dateTimeFilter()">Book Now</a>
                </div>
                <!-- end select range -->

            </article>
                  
            {% endfor %}
        </div>


    </div>
</section>




<script src="{{ url_for('static', filename='js/slot-filtering.js') }}"></script>


{% endblock %}